## Project Files ##
~res

## Bower ##
bower_components

## Network Info ##
network-*

## Node ##
.env
includes/node-env.coffee
newrelic.js
node_modules
npm-debug.log

## Public ##
web/*
!web/favicons

## Misc ##
.DS_Store
[Tt]humbs.db
*.dmp
._*
