//-------------------------------------------
// Background Colors
//-------------------------------------------

// Tones
white = #fff
black = #000
grey = #999
grey-light = #ccc
grey-dark = #444

// Transparent Tones
transparent-black = rgba(black, 0.4)
transparent-grey-dark = rgba(grey-dark, 0.5)

// Purples
purple-light = #955ab7
purple = #7d4d89
purple-dark = #5d4064


//-------------------------------------------
// Text Colors
//-------------------------------------------

text-color--generic = black
text-color--alternate = white
text-color--light = grey
text-color--wild = purple
text-color--bold = purple-dark
text-color--error = red


//-------------------------------------------
// Background Colors
//-------------------------------------------

background-color--generic = white
background-color--alternate = transparent-grey-dark
background-color--bold = grey-dark
background-color--wild = purple-light
background-color--muted = transparent-black
background-color--error = red


//-------------------------------------------
// Border Colors
//-------------------------------------------

border-color--generic = black
border-color--alternate = white
border-color--light = grey
border-color--wild = purple-light
border-color--muted = grey-dark
