@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Containers
//-------------------------------------------

.deck-pair
	display flex
	align-items center
	line-height 2

	&:nth-child(2n)
		background-color NavajoWhite

	&:nth-child(2n+1)
		background-color PapayaWhip

.deck-pair__player
	display flex
	align-items center
	padding 0 rem(10)
	font-weight bold
	color PaleVioletRed

.deck-pair__player__label
	padding-right 1ex

.deck-pair__player__number
	font-size rem(28)

.deck-pair__decks
	display block
	flex 1 1 auto
	padding 0 rem(10)
	font-size rem(18)

.deck-pair__name
	line-height 1.2

.deck-pair__tier
	font-size 0.75em
	line-height 1.2

