@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Containers
//-------------------------------------------

.deck-filter
	margin 0
	padding 0
	border 0


//-------------------------------------------
// Items
//-------------------------------------------

.deck-filter__items
	padding-bottom rem(10)

.deck-filter__item
	display flex
	align-items center
	padding rem(5 10)
	width 100%
	cursor pointer
	user-select none

.deck-filter__item--select-all
	margin rem(10) 0
	background-color lightyellow

.deck-filter__item--group
	background-color lightgreen

.deck-filter__icon
	margin-right rem(8)
	font-size 1.5em

.deck-filter__set-title
	font-weight bold


//-------------------------------------------
// Subitems
//-------------------------------------------

// .deck-filter__subitems

.deck-filter__subitem
	&:nth-child(2n+1)
		background-color grey
	&:nth-child(2n)
		background-color lightgrey
