@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Containers
//-------------------------------------------

.footer
	text-align center
	background-color background-color--generic


//-------------------------------------------
// Content
//-------------------------------------------

.footer__copyright
	padding rem(20)
	font-size rem(12)
	line-height 1

.footer__copyright__grouping
	display inline-block
	white-space nowrap
