@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Containers
//-------------------------------------------

.header
	display flex
	justify-content center
	width 100%
	z-index 3
	border-bottom rem(3) solid border-color--wild
	background url(site-background)
	background-position center
	background-repeat no-repeat
	background-size cover
