@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Containers
//-------------------------------------------

.message
	padding rem(20)

.message--warning
	background-color yellow

.message--error
	color white
	background-color red
