// //-------------------------------------------
// // Containers
// //-------------------------------------------

// .sprite
// 	position relative
// 	display inline-block
// 	vertical-align text-top
// 	content ''
// 	background-image url('/assets/img/_shared/sprite-sheet.png')
// 	background-repeat no-repeat


// //-------------------------------------------
// // Intro Header
// //-------------------------------------------

// .sprite-down-arrow
// 	width 47px
// 	height 35px
// 	background-position 83% 0


// //-------------------------------------------
// // Controls
// //-------------------------------------------

// .sprite-control
// 	width 54px
// 	height 54px

// .sprite-control--prev
// 	background-position 0 0

// 	&:hover
// 		background-position 21.5% 0

// .sprite-control--next
// 	background-position 42.5% 0

// 	&:hover
// 		background-position 63.5% 0


// //-------------------------------------------
// // Site Footer
// //-------------------------------------------

// .sprite-twitter
// 	width 42px
// 	height 42px
// 	background-position 99.5% 0
