//-------------------------------------------
// Any
//-------------------------------------------

non-breaking-space = '\00a0'


//-------------------------------------------
// Icons
//-------------------------------------------

circle = '\f111'
