//-------------------------------------------
// Containers
//-------------------------------------------

site-content-width = rem(1700)
bubble-spacing = rem(5)
header-padding = rem(56)

site-background = '/images/background.jpg'
