@charset 'UTF-8'
@require '~utils/style-vars'


//-------------------------------------------
// Containers
//-------------------------------------------

.deck-filter
	margin 0
	padding 0
	border 0


//-------------------------------------------
// Items
//-------------------------------------------

.deck-filter__items
	padding-bottom rem(10)

.deck-filter__item
	display flex
	align-items center
	width 100%
	cursor pointer
	user-select none

.deck-filter__item--select-all
	margin rem(10) 0
	background-color lightyellow

.deck-filter__item--group
	background-color lightgreen


//-------------------------------------------
// Subitems
//-------------------------------------------

// .deck-filter__subitems

.deck-filter__subitem
	&:nth-child(2n+1)
		background-color grey
	&:nth-child(2n)
		background-color lightgrey


//-------------------------------------------
// Content
//-------------------------------------------

.deck-filter__content
	padding-top rem(5)
	padding-bottom rem(5)

.deck-filter__selector
	display flex
	align-items center
	flex 1 1 auto
	padding-left rem(10)
	padding-right rem(10)

.deck-filter__expander
	padding-left rem(10)
	padding-right rem(10)

.deck-filter__checkmark
	margin-right rem(8)
	font-size 1.5em

.deck-filter__title--set
	font-weight bold

.deck-filter__name
	display flex
	width 100%
	align-items center
	justify-content space-between

// .deck-filter__name__text
.deck-filter__name__tier
	font-size 0.75em
	font-style italic

.deck-filter__space
	white-space nowrap

.deck-filter__plus-minus
	font-size 1.5em
