@charset 'UTF-8'
@require '~utils/style-vars'

shadow-distance = -0.06em

.factions-filter
	display flex
	flex-direction column
	justify-content center
	align-items center
	width 100%
	font-size rem(16)

	@media small-up
		font-size rem(24)
