@charset 'UTF-8'
@require '~utils/style-vars'

.randomize-button
	position fixed
	bottom 0
	width 100%
	padding em(20)
	text-align center
	color smash-up--medium
	background-color smash-up--contrast-dark
